# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/
env/

# Django stuff
*.sqlite3
*.log

# Static files
staticfiles/

# Media files
media/

# IDE Stuff
.idea/
.vscode/

# Environment variables
.env